body{
    background-color: rgb(194, 189, 189);   
    padding: 30px;
    .block{
        margin: 0 auto;
        .blockTimer{
            width: 357px;
        }
        .blockDatecalc{
            width: 488px;
        }
    }
}

button{    
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    background-color: gray;
    margin: 5px;
}

button:hover{
    border: 2px solid black;
    color: black;
    background-color: white;
}

input{
    border: 2px solid black;
    border-radius: 4px;
}
.er{
    color: red;
    font-size: large;
}
img{
    height: 100px;
    display: none;
}